<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
      <a class= "brand" %= link_to "Classic Retouch", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Add Photos",    '#' %></li>
                    <% if user_signed_in? %>
                    Logged in as <strong><%= current_user.email %></strong>.
                    <%= link_to 'Edit profile', edit_user_registration_path %> |
                    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  <% else %>
                    <%= link_to "Login", new_user_session_path %>
                    <li> New user? </li>
                    <%= link_to "Sign up", new_user_registration_path %> |
                  <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>